@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass {
    @apply bg-white/40 backdrop-blur-md border border-white/40 shadow-lg;
  }
  
  .glass-dark {
    @apply bg-charcoal-900/60 backdrop-blur-xl border border-charcoal-800 shadow-2xl;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-ivory text-charcoal-900;
  letter-spacing: 0.02em;
  word-spacing: 0.1em;
}
